{% extends "base.html" %}
{% block content %}
<h2>
    About Me
</h2>

Hello, my name is Alex Kim. I recently graduated from Worcester Polytechnic Institute with a degree in Interactive Media
and Game Development. I was very interested in joining the game development industry in any way that I could, but more
recently I have begun expanding into software as its own industry as well. The more I expose myself to software, the
more interested I become. In the months since I graduated, I have dedicated my time to learning as much as I can, and
now my greatest aspiration is to learn even more.


<h2>Posts</h2>

<ul class="page-list">
  {% for page in pages %}
      <li><a href="{{ url_for('page', path=page.path) }}">
          {{ page.meta.title }}
      </a> - {{ page.meta.date }}</li>
  {% endfor %}
</ul>
{% endblock %}
