/* Layout */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.box {
    width: 900px;
    margin: 0px auto;
}

body {

  font-family: sans-serif;
  font-size: 18px;
}

h1 {
  color: #008B8B;
}

h2 {
  color: #008B8B;
}

b {
  color: #008B8B;
}

li {
  margin-top: .5em;
  margin-bottom: .5em;
}

a {
  text-decoration: none;
  border: 2px solid #008B8B;
  border-radius: 10px;
  padding: .15em;
  margin-top: .1em;
  margin-bottom: .1em;
  color: black;
}

a:hover {
  background-color: #008B8B;
  color: #ffffff;
}

nav {

  border: 2px solid #008B8B;
  margin: 20px 0px 20px;
  width: 100%;
}

nav ul, nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 10px 10px 10px;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: .15em;
  margin-top: .1em;
  margin-bottom: .1em;
}

.rescat {
  border: 2px solid #008B8B;
  border-radius: 10px;
}

.reshead {
  color: #008B8B;
  text-indent: 2.25em;
}

.page-list {
  list-style: none;
}

#dat-loc {
  list-style: none;
}

#nav-top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#nav-bottom {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  clear: both;
}

/*
    Logo animation
*/

#logo-container {
    opacity: .25;

    height: 34em;
    width: 10em;
    clear: both;

}

#outer-c {
    position: absolute;
    top: 0;
    left: 50%;
    clear: both;
    height: 2em;
    width: 2em;
    margin-left: -1em;
    margin-top: -1em;

    background-color: #008B8B;
    border: .1em solid #008B8B;
    border-radius: 50%;

}

#inner-c {
    position: absolute;
    top: 0;
    left: 50%;

    height: 4em;
    width: 4em;
    margin-left: -2em;
    margin-top: -2em;

    background-color: #008B8B;
    border: .1em solid #008B8B;
    border-radius: 50%;

}

#sub-c {
    position: absolute;
    top: 0;
    left: 50%;

    height: 1em;
    width: 1em;
    margin-left: -.5em;
    margin-top: -.5em;

    background-color: #008B8B;
    border: .1em solid #008B8B;
    border-radius: 50%;
}

#outer-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 25em;
    height: 25em;
    margin-top: -12.5em;
    margin-left: -12.5em;

    border: 2px solid #008B8B;
    border-radius: 50%;

    -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}

#inner-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 10em;
    height: 10em;
    margin-top: -5em;
    margin-left: -5em;

    border: 2px solid #008B8B;
    border-radius: 50%;

    -webkit-animation: spin-left 10s linear infinite;
     -moz-animation: spin-left 10s linear infinite;
      -ms-animation: spin-left 10s linear infinite;
       -o-animation: spin-left 10s linear infinite;
          animation: spin-left 10s linear infinite;
}

#sub-orbit {
    top: 50%;
    left: 50%;

    height: 6em;
    width: 6em;

    margin-top: -3em;
    margin-left: 9.4em;

    border: 2px solid #008B8B;
    border-radius: 50%;

    -webkit-animation: spin-left 5s linear infinite;
     -moz-animation: spin-left 5s linear infinite;
      -ms-animation: spin-left 5s linear infinite;
       -o-animation: spin-left 5s linear infinite;
          animation: spin-left 5s linear infinite;
}


@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
       -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
         -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
       -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
         -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}